/*=======================franchisepage01.html===========================*/

.privacy-policy{
    text-align: start;
    font-size: 13px;
    height: 130px;
    border: thin black solid;
    overflow-x: hidden;
    overflow-y: auto;
}

.f01-form-warpper{
    width: 60%;
    margin: 0 auto;
}
.gform fieldset{
    border: none;
    margin-bottom: 50px;
}
.gform legend{text-align: start;}

.gform .fieldtitle{
    background-color: rgba(209, 209, 209, 0.5);
}
.gform .fieldinput{
    text-align: start;
    margin: auto 10px;
}
.gform input:not([type="checkbox"]),.gform select{
    width: 200px;
    height: 27px;
}
.gform table {
    width: 100%;
    border-collapse: collapse;
}
.gform td{
    text-align: start;
    padding: 10px 10px;
}
.gform th, .gform td {
    border-bottom: 1px solid rgba(184, 184, 184, 0.5);
}
.gform td textarea{width: 100%;}
.gform tr:first-child td,.gform tr:first-child th{
    border-top: 2px solid rgba(0, 0, 0, .5);
}
.gform tr:last-child td,.gform tr:last-child th{
    border-bottom: 2px solid rgba(0, 0, 0, .5);
}
.gform button{
    width: 80px;height: 30px;
    background-color: #d17e2b;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    margin-bottom: 80px;
}
#fieldphone > *{
    width: 25%;
}
/*=================모바일 화면은 여기서 변경====================*/

@media screen and (max-width:630px) {
    .f01-form-warpper{
        width: 90%;
        margin: 0 auto;
    }
}